/* ===================================== */
/* GERAL */
/* ===================================== */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{

  background:black;
  color:white;

  font-family:Consolas,
              "Lucida Console",
              monospace;

  text-shadow:
      0 0 2px rgba(255,255,255,0.2);
  
  font-size: 22px;
}

/* ===================================== */
/* CRT OVERLAY */
/* ===================================== */

#crtOverlay{

  pointer-events:none;

  position:fixed;
  inset:0;

  z-index:30000;

  background:
      repeating-linear-gradient(
          transparent 0px,
          transparent 2px,
          rgba(255,255,255,0.03) 3px
      );

  opacity:0.35;
}

/* ===================================== */
/* BOOT SCREEN */
/* ===================================== */

#bootScreen{

  height:100vh;

  display:flex;

  flex-direction:column;

  justify-content:center;
  align-items:center;

  text-align:center;

  padding:20px;
}

#bootText{

  white-space:pre;

  font-size:22px;

  line-height:26px;

  margin-bottom:30px;
}

#progressBox{

  width:600px;
  max-width:90%;

  height:30px;

  border:2px solid white;

  overflow:hidden;
}

#progressBar{

  width:0%;

  height:100%;

  background:white;

  transition:width .15s linear;
}

#bootStatus{

  margin-top:15px;

  letter-spacing:2px;
}

/* ===================================== */
/* TERMINAL */
/* ===================================== */
#terminal{

  display:flex;
  flex-direction:column;

  height:100vh;
  padding: 20px;
}

#output{

  flex:1;

  overflow-y:auto;

  white-space:pre-wrap;
}
#inputLine{

  display:flex;

  gap:10px;

  align-items:center;
}

#commandInput{

  flex:1;

  background:black;

  color:white;

  border:none;

  outline:none;

  font-family:inherit;

  font-size:inherit;
}

/* ===================================== */
/* VIDEO */
/* ===================================== */

#videoScreen{

  display:none;

  position:fixed;

  inset:0;

  background:black;

  justify-content:center;
  align-items:center;

  z-index:10000;
}

#secretVideo{

  width:100vw;
  height:100vh;

  object-fit:contain;

  background:black;
}

/* ===================================== */
/* ENTITY SCREEN */
/* ===================================== */

#entityScreen{

  display:none;

  position:fixed;

  top:0;
  left:0;

  width:100%;
  height:100%;

  background:black;

  color:white;

  overflow-y:auto;

  padding:50px;

  text-align:center;
}

#entityImage{

  width:600px;

  max-width:90%;

  border:1px solid white;

  margin-bottom:30px;

  cursor:pointer;

  transition:.2s;
}


#entityName{

  font-size:72px;

  letter-spacing:10px;

  margin-bottom:15px;
}
#entityName,
#entityDanger,
#entityHint{
    text-align:center;
}
#entityDanger{

  color:#ff4444;

  font-size:24px;

  letter-spacing:3px;

  margin-bottom:40px;
}

#entityContent{

  width: 80%;

  max-width: 1200px;

  margin: 40px auto;

  text-align: justify;

  text-justify: inter-word;

  white-space: pre-line;

  font-size: 20px;

  line-height: 2.2;
}

#entityHint{

  margin-top:50px;

  opacity:.5;

  text-align:center;
}

/* ===================================== */
/* WARNING SCREEN */
/* ===================================== */

#warningScreen{

  display:none;

  position:fixed;

  inset:0;

  background:black;

  z-index:25000;

  justify-content:center;
  align-items:center;
}

#warningText{

  font-size:120px;

  font-weight:bold;

  text-align:center;

  color:white;

  letter-spacing:10px;

  max-width:90%;

  text-transform:uppercase;
}

/* ===================================== */
/* SCREEN SHAKE */
/* ===================================== */

.screenShake{

  animation:screenShake .12s;
}

@keyframes screenShake{

  0%{
      transform:translate(0,0);
  }

  20%{
      transform:translate(-10px,5px);
  }

  40%{
      transform:translate(10px,-5px);
  }

  60%{
      transform:translate(-8px,-8px);
  }

  80%{
      transform:translate(8px,4px);
  }

  100%{
      transform:translate(0,0);
  }
}

/* ===================================== */
/* PISCADA CRT */
/* ===================================== */

@keyframes flicker{

  0%{
      opacity:.95;
  }

  50%{
      opacity:1;
  }

  100%{
      opacity:.97;
  }
}

body{

  animation:flicker .15s infinite;
}

/* ===================================== */
/* SCROLLBAR DOS */
/* ===================================== */

::-webkit-scrollbar{

  width:10px;
}

::-webkit-scrollbar-track{

  background:black;
}

::-webkit-scrollbar-thumb{

  background:white;
}